@model MIMWebClient.Models.Account


<div id="login" style="display:none;">
    @using (@Html.BeginForm("Login", "Home", FormMethod.Post, new { id = "loginForm" }))
    {

        @Html.ValidationSummary(true)

        <div class="row">
            <div class="col-xs-12">

                <div class="form-group" id="charName">
                    <label for="Name">角色名</label>
                    @{
                        @Html.TextBoxFor(input => input.Name, string.Empty, new { @class = "form-control", placeholder = "角色名" })
                        @Html.ValidationMessageFor(input => input.Name, string.Empty, new { @class = "errorMsg" })

                    }
                    <span class="errorMsg"></span>
                </div>
 

                <div class="form-group" id="charPass">
                    <label for="password">密码</label>
                    @{
                        @Html.TextBoxFor(input => input.Password, string.Empty, new { id = "password", type = "password", @class = "form-control", placeholder = "密码" })
                        @Html.ValidationMessageFor(input => input.Password, string.Empty, new { @class = "errorMsg" })
                    }
                    <span class="errorMsg"></span>
                </div>
            
               

            
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-success pull-right" id="loginBtn">登录</button>
                <button type="button" class="btn btn-default pull-right margin-right-10" id="createCharWizard">创建角色</button>
            </div>
        </div>
                    }
</div>

